.users-catalog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.users-catalog-container > div {
  margin: 0.3em 0.6em;
}

.user-catalog-end-spacer {
  width: 100%;
}
